/* There will be 26 columns and 4 cells in each */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

html,
body {
  height: 100%;
  overflow: hidden; }

#audio-player {
  display: none; }

.columns {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.column {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* Column positioning */
.column:nth-child(2) {
  left: 100%; }

.column:nth-child(3) {
  left: 200%; }

.column:nth-child(4) {
  left: 300%; }

.column:nth-child(5) {
  left: 400%; }

.column:nth-child(6) {
  left: 500%; }

.column:nth-child(7) {
  left: 600%; }

.column:nth-child(8) {
  left: 700%; }

.column:nth-child(9) {
  left: 800%; }

.column:nth-child(10) {
  left: 900%; }

.column:nth-child(11) {
  left: 1000%; }

.column:nth-child(12) {
  left: 1100%; }

.column:nth-child(13) {
  left: 1200%; }

.column:nth-child(14) {
  left: 1300%; }

.column:nth-child(15) {
  left: 1400%; }

.column:nth-child(16) {
  left: 1500%; }

.column:nth-child(17) {
  left: 1600%; }

.column:nth-child(18) {
  left: 1700%; }

.column:nth-child(19) {
  left: 1800%; }

.column:nth-child(20) {
  left: 1900%; }

.column:nth-child(21) {
  left: 2000%; }

.column:nth-child(22) {
  left: 2100%; }

.column:nth-child(23) {
  left: 2200%; }

.column:nth-child(24) {
  left: 2300%; }

.column:nth-child(25) {
  left: 2400%; }

.column:nth-child(26) {
  left: 2500%; }

.cell {
  width: 100%;
  height: 100%;
  background-color: red;
  color: white;
  text-align: center; }

/* Cell Colours */
[data-column="1"] .cell:nth-child(1) {
  background-color: #55436d; }

[data-column="1"] .cell:nth-child(2) {
  background-color: #3e7e8c; }

[data-column="1"] .cell:nth-child(3) {
  background-color: #045284; }

[data-column="1"] .cell:nth-child(4) {
  background-color: #3e7e8c; }

[data-column="2"] .cell:nth-child(1) {
  background-color: #bf3c30; }

[data-column="2"] .cell:nth-child(2) {
  background-color: #045284; }

[data-column="2"] .cell:nth-child(3) {
  background-color: #55436d; }

[data-column="2"] .cell:nth-child(4) {
  background-color: #c44111; }

[data-column="3"] .cell:nth-child(1) {
  background-color: #d8bd22; }

[data-column="3"] .cell:nth-child(2) {
  background-color: #bf3c30; }

[data-column="3"] .cell:nth-child(3) {
  background-color: #045284; }

[data-column="3"] .cell:nth-child(4) {
  background-color: #618c6c; }

[data-column="4"] .cell:nth-child(1) {
  background-color: #d39024; }

[data-column="4"] .cell:nth-child(2) {
  background-color: #55436d; }

[data-column="4"] .cell:nth-child(3) {
  background-color: #618c6c; }

[data-column="4"] .cell:nth-child(4) {
  background-color: #618c6c; }

[data-column="5"] .cell:nth-child(1) {
  background-color: #045284; }

[data-column="5"] .cell:nth-child(2) {
  background-color: #3e7e8c; }

[data-column="5"] .cell:nth-child(3) {
  background-color: #d39024; }

[data-column="5"] .cell:nth-child(4) {
  background-color: #d8bd22; }

[data-column="6"] .cell:nth-child(1) {
  background-color: #55436d; }

[data-column="6"] .cell:nth-child(2) {
  background-color: #d39024; }

[data-column="6"] .cell:nth-child(3) {
  background-color: #d8bd22; }

[data-column="6"] .cell:nth-child(4) {
  background-color: #045284; }

[data-column="7"] .cell:nth-child(1) {
  background-color: #a64456; }

[data-column="7"] .cell:nth-child(2) {
  background-color: #c44111; }

[data-column="7"] .cell:nth-child(3) {
  background-color: #a64456; }

[data-column="7"] .cell:nth-child(4) {
  background-color: #618c6c; }

[data-column="8"] .cell:nth-child(1) {
  background-color: #d8bd22; }

[data-column="8"] .cell:nth-child(2) {
  background-color: #bf9b30; }

[data-column="8"] .cell:nth-child(3) {
  background-color: #618c6c; }

[data-column="8"] .cell:nth-child(4) {
  background-color: #045284; }

[data-column="9"] .cell:nth-child(1) {
  background-color: #d8bd22; }

[data-column="9"] .cell:nth-child(2) {
  background-color: #a64456; }

[data-column="9"] .cell:nth-child(3) {
  background-color: #a64456; }

[data-column="9"] .cell:nth-child(4) {
  background-color: #d8bd22; }

[data-column="10"] .cell:nth-child(1) {
  background-color: #3e7e8c; }

[data-column="10"] .cell:nth-child(2) {
  background-color: #d8bd22; }

[data-column="10"] .cell:nth-child(3) {
  background-color: #bf9b30; }

[data-column="10"] .cell:nth-child(4) {
  background-color: #bf9b30; }

[data-column="11"] .cell:nth-child(1) {
  background-color: #bf3c30; }

[data-column="11"] .cell:nth-child(2) {
  background-color: #a64456; }

[data-column="11"] .cell:nth-child(3) {
  background-color: #d39024; }

[data-column="11"] .cell:nth-child(4) {
  background-color: #d39024; }

[data-column="12"] .cell:nth-child(1) {
  background-color: #d8bd22; }

[data-column="12"] .cell:nth-child(2) {
  background-color: #c44111; }

[data-column="12"] .cell:nth-child(3) {
  background-color: #045284; }

[data-column="12"] .cell:nth-child(4) {
  background-color: #d39024; }

[data-column="13"] .cell:nth-child(1) {
  background-color: #045284; }

[data-column="13"] .cell:nth-child(2) {
  background-color: #3e7e8c; }

[data-column="13"] .cell:nth-child(3) {
  background-color: #55436d; }

[data-column="13"] .cell:nth-child(4) {
  background-color: #d8bd22; }

[data-column="14"] .cell:nth-child(1) {
  background-color: #a64456; }

[data-column="14"] .cell:nth-child(2) {
  background-color: #d8bd22; }

[data-column="14"] .cell:nth-child(3) {
  background-color: #d8bd22; }

[data-column="14"] .cell:nth-child(4) {
  background-color: #3e7e8c; }

[data-column="15"] .cell:nth-child(1) {
  background-color: #c44111; }

[data-column="15"] .cell:nth-child(2) {
  background-color: #bf3c30; }

[data-column="15"] .cell:nth-child(3) {
  background-color: #045284; }

[data-column="15"] .cell:nth-child(4) {
  background-color: #045284; }

[data-column="16"] .cell:nth-child(1) {
  background-color: #3e7e8c; }

[data-column="16"] .cell:nth-child(2) {
  background-color: #55436d; }

[data-column="16"] .cell:nth-child(3) {
  background-color: #bf3c30; }

[data-column="16"] .cell:nth-child(4) {
  background-color: #045284; }

[data-column="17"] .cell:nth-child(1) {
  background-color: #d39024; }

[data-column="17"] .cell:nth-child(2) {
  background-color: #618c6c; }

[data-column="17"] .cell:nth-child(3) {
  background-color: #d8bd22; }

[data-column="17"] .cell:nth-child(4) {
  background-color: #a64456; }

[data-column="18"] .cell:nth-child(1) {
  background-color: #a64456; }

[data-column="18"] .cell:nth-child(2) {
  background-color: #55436d; }

[data-column="18"] .cell:nth-child(3) {
  background-color: #bf3c30; }

[data-column="18"] .cell:nth-child(4) {
  background-color: #a64456; }

[data-column="19"] .cell:nth-child(1) {
  background-color: #bf3c30; }

[data-column="19"] .cell:nth-child(2) {
  background-color: #a64456; }

[data-column="19"] .cell:nth-child(3) {
  background-color: #55436d; }

[data-column="19"] .cell:nth-child(4) {
  background-color: #3e7e8c; }

[data-column="20"] .cell:nth-child(1) {
  background-color: #bf9b30; }

[data-column="20"] .cell:nth-child(2) {
  background-color: #3e7e8c; }

[data-column="20"] .cell:nth-child(3) {
  background-color: #045284; }

[data-column="20"] .cell:nth-child(4) {
  background-color: #55436d; }

[data-column="21"] .cell:nth-child(1) {
  background-color: #a64456; }

[data-column="21"] .cell:nth-child(2) {
  background-color: #d8bd22; }

[data-column="21"] .cell:nth-child(3) {
  background-color: #045284; }

[data-column="21"] .cell:nth-child(4) {
  background-color: #d39024; }

[data-column="22"] .cell:nth-child(1) {
  background-color: #bf9b30; }

[data-column="22"] .cell:nth-child(2) {
  background-color: #c44111; }

[data-column="22"] .cell:nth-child(3) {
  background-color: #618c6c; }

[data-column="22"] .cell:nth-child(4) {
  background-color: #045284; }

[data-column="23"] .cell:nth-child(1) {
  background-color: #c44111; }

[data-column="23"] .cell:nth-child(2) {
  background-color: #c44111; }

[data-column="23"] .cell:nth-child(3) {
  background-color: #55436d; }

[data-column="23"] .cell:nth-child(4) {
  background-color: #a64456; }

[data-column="24"] .cell:nth-child(1) {
  background-color: #c44111; }

[data-column="24"] .cell:nth-child(2) {
  background-color: #d8bd22; }

[data-column="24"] .cell:nth-child(3) {
  background-color: #55436d; }

[data-column="24"] .cell:nth-child(4) {
  background-color: #bf3c30; }

[data-column="25"] .cell:nth-child(1) {
  background-color: #55436d; }

[data-column="25"] .cell:nth-child(2) {
  background-color: #045284; }

[data-column="25"] .cell:nth-child(3) {
  background-color: #d39024; }

[data-column="25"] .cell:nth-child(4) {
  background-color: #d39024; }

[data-column="26"] .cell:nth-child(1) {
  background-color: #618c6c; }

[data-column="26"] .cell:nth-child(2) {
  background-color: #a64456; }

[data-column="26"] .cell:nth-child(3) {
  background-color: #d39024; }

[data-column="26"] .cell:nth-child(4) {
  background-color: #55436d; }

.cell h1 {
  font-family: 'Muli', cursive;
  font-weight: 400;
  font-size: 10rem;
  margin: 0;
  display: table-cell;
  vertical-align: middle; }

.inner,
.word {
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  display: table;
  font-family: 'Muli', cursive; }

.word-section {
  width: auto;
  margin: 0;
  padding: 0 2%;
  display: table-cell;
  vertical-align: middle;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.menu-container {
  position: fixed;
  left: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.menu-toggle {
  width: 44px;
  height: 44px;
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 11px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
  transform: rotate(180deg); }
  .menu-toggle img {
    width: 60%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.menu {
  width: 400%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.menu ul {
  margin: 0;
  padding: 0;
  width: 25%;
  display: inline-block; }

.menu li {
  list-style: none;
  display: table;
  float: left; }
  .menu li:nth-child(8n) a {
    border-right: none; }

.menu a {
  text-align: center;
  display: table-cell;
  font-family: 'Muli', cursive;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  width: 100%;
  height: 44px;
  vertical-align: middle;
  border-right: 1px solid rgba(255, 255, 255, 0.3); }
